In [181]:
p=pd.Period(2021 ,freq='A-DEC')
p

Period('2021', 'A-DEC')

In [182]:
p

Period('2021', 'A-DEC')

In [184]:
q=pd.Period(2019 ,freq='A-DEC') - p
q

<-2 * YearEnds: month=12>

#  <font color=red> Module_09_時間序列建模</font>

## 日期、時間、區間的表示方法以及工具

### datetime、day、time 物件

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

# import datetime 要使用 datetime 類別，要寫 datetime.datetime()
# 但是因為這個類別太常用，所以我們使用 from datetime import datetime 比較簡潔方便
# 這樣就可以直接調用 datetime() 類別與建立實體物件
# datetime 物件包括年、月、日、時、分...
# 來 new 一個 datetime 實體物件
datetime(2014, 12, 15)

datetime.datetime(2014, 12, 15, 0, 0)

In [ ]:
datetime(2014, 12, 15, 17, 30, 5) # 年、月、日、時、分、秒

In [ ]:
# 調用類方法，直接生成現在的時間，返回現在時間的實體物件
now = datetime.now()
now

In [ ]:
# 可以用它的屬性直接獲得年、月、日、時、分、秒
# 別忘了這是 tuple 的寫法
now.year, now.month, now.day, now.hour, now.minute, now.second

---

# 我們想要建立只有日期沒有時間的實體物件該怎麼辦 ? 跟上面的操作相似

In [ ]:
from datetime import date
d = date(2020, 3, 10)         # datetime.date 物件代表特定的一天 (沒有時間成分)
d

In [ ]:
d.year, d.month, d.day

---

In [ ]:
# 如果是日期時間物件怎麼把時間去除 ?
day = datetime(2021, 2, 23, 8, 10)
day

In [ ]:
# 調用 .date() 方法就可以把時間給刪掉，返回日期實體物件
day.date()

In [ ]:
datetime.now().date()

---

---

In [ ]:
# 使用剛剛的邏輯，這是沒有日期成分的時間
from datetime import time
time(4, 50, 40) # 時、分、秒

In [ ]:
day = datetime(2014, 12, 15, 17, 30)
day

In [ ]:
day.time()

In [ ]:
datetime.now().time()

### 以 Timestamp 表示一個時間點

In [2]:
# Pandas 裡日期與時間的表示，是利用 pandas.tslib.Timestamp 類別執行
# 其精準度比 python 的 datetime 物件來得高
# 且 pd.Timestamp() 類別看得懂【字串 】  #這個重要
# 來 new 一個 Timestamp 實體物件
pd.Timestamp('2014-12-15')

Timestamp('2014-12-15 00:00:00')

In [3]:
pd.Timestamp('2014-12-15 17:30')

Timestamp('2014-12-15 17:30:00')

In [4]:
pd.Timestamp(2014, 12, 15, 17, 30) # 當然也可以按照之前那種習慣的寫法!    #沒有單引號  就用逗號隔開

Timestamp('2014-12-15 17:30:00')

In [5]:
# Timestamp 也可以只以時間建立
# 此時日期會預設為本地日期      #會連同日期都顯示
pd.Timestamp('17:30')

Timestamp('2021-09-16 17:30:00')

In [6]:
pd.Timestamp('now')

Timestamp('2021-09-16 08:25:41.491120')

### 以 Timedelta 表示時間區間

In [7]:
# datetime 儲存了日期、時間，精確度可以到微秒。 timedelta 物件用來表示兩個 datetime 物件之間的時間差
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(days=926, seconds=56700)

In [8]:
# timedelta 物件的 days 屬性
delta.days

926

In [9]:
# timedelta 物件的 seconds 屬性
delta.seconds

56700

---

In [10]:
from datetime import timedelta

start = datetime(2011, 1, 7) # 沒有設定時間，預設就是都是 0
start

datetime.datetime(2011, 1, 7, 0, 0)

In [11]:
start + timedelta(12, 45, 50) # timedelta(日, 秒, 微秒)

datetime.datetime(2011, 1, 19, 0, 0, 45, 50)

In [12]:
start - 2*timedelta(12) # 減去 24 天

datetime.datetime(2010, 12, 14, 0, 0)

In [13]:
date1 = datetime(2014, 12, 2)
date2 = datetime(2014, 11, 28)
date1 - date2

datetime.timedelta(days=4)

---

In [14]:
# 也可使用 pandas 的全域函式 pd.Timedelat()
today = datetime(2014, 11, 30)
today

datetime.datetime(2014, 11, 30, 0, 0)

In [17]:
tomorrow = today + pd.Timedelta( days= 1) # 參數有很多可選，需要時再上網查
tomorrow

datetime.datetime(2014, 12, 1, 0, 0)

---

In [18]:
today = pd.Timestamp('2014-11-30')
today

Timestamp('2014-11-30 00:00:00')

In [19]:
tomorrow = today + pd.Timedelta(days = 1)
tomorrow

Timestamp('2014-12-01 00:00:00')

### 字串和時間日期轉換

# 日期時間資料轉字串的方法比較好記!

In [20]:
stamp = datetime(2011, 1, 3)
stamp

datetime.datetime(2011, 1, 3, 0, 0)

In [21]:
# 使用 str() 函式轉換成字串
str(stamp)

'2011-01-03 00:00:00'

In [22]:
# 使用 datetime 物件的 .strftime() 方法轉換成字串，可自選格式
stamp.strftime('%Y-%m-%d')

'2011-01-03'

---

In [23]:
stamp = pd.Timestamp(2011, 1, 3)
stamp

Timestamp('2011-01-03 00:00:00')

In [24]:
str(stamp)

'2011-01-03 00:00:00'

In [25]:
# Timestamp 物件一樣有 .strftime() 方法可以用
stamp.strftime('%Y-%m-%d')

'2011-01-03'

---

# 字串轉日期時間資料的方法就需要思考一下了!

In [26]:
# 使用類方法 datetime.strptime() 把字串轉日期
# 要給出正確的時間日期形式才能解析成功
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [27]:
value = '2011-01-03 00:00:00'
datetime.strptime(value, '%Y-%m-%d') # 形式沒給對!

ValueError: unconverted data remains:  00:00:00

In [28]:
value = '2011-01-03 00:00:00'
datetime.strptime(value, '%Y-%m-%d %H:%M:%S')

datetime.datetime(2011, 1, 3, 0, 0)

In [29]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(i, '%m/%d/%Y') for i in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

---

## to_date

In [30]:
value

'2011-01-03 00:00:00'

In [31]:
# 也可以用 pandas 的全域函式 pd.to_datetime() 來解析字串
# 會返回 Timestamp 物件
pd.to_datetime(value)

Timestamp('2011-01-03 00:00:00')

In [32]:
datestrs

['7/6/2011', '8/6/2011']

In [33]:
# 會返回 DatetimeIndex 物件
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

---

In [34]:
value

'2011-01-03 00:00:00'

In [35]:
pd.Timestamp(value) # 直接把 value 帶入，new 一個實體物件也是可以

Timestamp('2011-01-03 00:00:00')

In [36]:
datestrs

['7/6/2011', '8/6/2011']

In [37]:
pd.Timestamp(datestrs) # 這樣當然會失敗!   #無法帶入列表

TypeError: Cannot convert input [['7/6/2011', '8/6/2011']] of type <class 'list'> to Timestamp

---

## parse()

In [38]:
# 還可以使用第三方套件 dateutil 中的 parser.parse 模組來解析
# 可以不用寫格式規格，相當方便，但不是什麼形式都可以解析成功喔!
# 會返回 datetime 物件
from dateutil.parser import parse

parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [39]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [40]:
parse('6/12/2011')

datetime.datetime(2011, 6, 12, 0, 0)

In [41]:
parse('6/12/2011', dayfirst = True) # 參數 dayfirst 會使第一位當成日，跟上面比較看看!

datetime.datetime(2011, 12, 6, 0, 0)

In [42]:
parse(datestrs) # 也沒辦法帶入列表

TypeError: Parser must be a string or character stream, not list

## 時間序列資料簡介

### 使用 DatetimeIndex 作為索引

In [43]:
# 用 datetime 物件來建立
dates = [datetime(2014, 8, 1), datetime(2014, 8, 2)]
ts = pd.Series(np.random.randn(2), index = dates)
ts

2014-08-01   -1.555321
2014-08-02   -1.399257
dtype: float64

In [5]:
ts.index

DatetimeIndex(['2014-08-01', '2014-08-02'], dtype='datetime64[ns]', freq=None)

In [6]:
type(ts.index) # 序列接收 datetime 物件後，從日期值建構 DatetimeIndex

pandas.core.indexes.datetimes.DatetimeIndex

In [7]:
ts.index[0] # 雖然是用 datetime 物件建構，但放進序列後會統一都換成 Timestamp 物件

Timestamp('2014-08-01 00:00:00')

In [8]:
type(ts.index[0]) # 每個索引值都是一個 Timestamp 物件

pandas._libs.tslibs.timestamps.Timestamp

---

In [13]:
# 用 Timestamp 物件來建立，好處之一是可以直接使用字串
dates = [pd.Timestamp('2014-08-01'), pd.Timestamp('2014-08-02')]
ts = pd.Series(np.random.randn(2), index = dates)
ts

2014-08-01    1.990160
2014-08-02   -1.593215
dtype: float64

In [14]:
ts.index

DatetimeIndex(['2014-08-01', '2014-08-02'], dtype='datetime64[ns]', freq=None)

In [15]:
ts.index[0]

Timestamp('2014-08-01 00:00:00')

---

In [33]:
# 也可以先用字串組成一個列表再傳入 pd.DatetimeIndex 類別，建立一個實體物件
# 也就是直接 new 一個 DatetimeIndex 物件
dates = ['2014-08-01', '2014-08-02']
dates = pd.DatetimeIndex(dates)
dates

DatetimeIndex(['2014-08-01', '2014-08-02'], dtype='datetime64[ns]', freq=None)

In [34]:
ts = pd.Series(np.random.randn(2), index = dates)
ts

2014-08-01    0.229904
2014-08-02    0.525503
dtype: float64

In [43]:
ts.index

DatetimeIndex(['2014-08-01', '2014-08-02'], dtype='datetime64[ns]', freq=None)

In [36]:
ts.index[0]

Timestamp('2014-08-01 00:00:00')

---

In [52]:
# 函式 pd.to_datetime() 接收一系列相似或混合型別物件，嘗試將這些物件轉換成 Timestamp 物件以及產生 DatetimeIndex 物件
# 無法轉換會填入 NaT
dti = pd.to_datetime(['Aug 1, 2014', '2014-08-02', '2014.8.3', None])
dti

DatetimeIndex(['2014-08-01', '2014-08-02', '2014-08-03', 'NaT'], dtype='datetime64[ns]', freq=None)

In [53]:
for i in dti: print(i)

2014-08-01 00:00:00
2014-08-02 00:00:00
2014-08-03 00:00:00
NaT

In [54]:
pd.to_datetime(['Aug 1, 2014', 'foo']) # 無法解析是什麼的會產生例外

ParserError: Unknown string format: foo

In [55]:
pd.to_datetime(['Aug 1, 2014', 'foo'], errors = "coerce") # 設定參數 errors = "coerce" 會把無法解析是什麼的也產生 NaT

DatetimeIndex(['2014-08-01', 'NaT'], dtype='datetime64[ns]', freq=None)

---

In [59]:
# 之前很常遇到的用 pd.date_range() 函式建立 DatetimeIndex
# pd.date_range() 可以給開頭時間，再設定參數 periods 和 freq
np.random.seed(123456)
periods = pd.date_range('8/1/2014', periods = 10) # 預設 freq = 'D'
date_series = pd.Series(np.random.randn(10), index = periods)
date_series

2014-08-01    0.469112
2014-08-02   -0.282863
2014-08-03   -1.509059
2014-08-04   -1.135632
2014-08-05    1.212112
2014-08-06   -0.173215
2014-08-07    0.119209
2014-08-08   -1.044236
2014-08-09   -0.861849
2014-08-10   -2.104569
Freq: D, dtype: float64

In [64]:
date_series.index

DatetimeIndex(['2014-08-01', '2014-08-02', '2014-08-03', '2014-08-04',
               '2014-08-05', '2014-08-06', '2014-08-07', '2014-08-08',
               '2014-08-09', '2014-08-10'],
              dtype='datetime64[ns]', freq='D')

In [65]:
type(date_series.index[0])

pandas._libs.tslibs.timestamps.Timestamp

In [68]:
subset = date_series[3:7]
subset

2014-08-04   -1.135632
2014-08-05    1.212112
2014-08-06   -0.173215
2014-08-07    0.119209
Freq: D, dtype: float64

In [69]:
s2  = pd.Series([10, 100, 1000, 10000], index = subset.index)
s2

2014-08-04       10
2014-08-05      100
2014-08-06     1000
2014-08-07    10000
Freq: D, dtype: int64

---

In [75]:
date_series

2014-08-01    0.469112
2014-08-02   -0.282863
2014-08-03   -1.509059
2014-08-04   -1.135632
2014-08-05    1.212112
2014-08-06   -0.173215
2014-08-07    0.119209
2014-08-08   -1.044236
2014-08-09   -0.861849
2014-08-10   -2.104569
Freq: D, dtype: float64

In [76]:
s2

2014-08-04       10
2014-08-05      100
2014-08-06     1000
2014-08-07    10000
Freq: D, dtype: int64

In [77]:
# 會執行對齊
date_series + s2

2014-08-01             NaN
2014-08-02             NaN
2014-08-03             NaN
2014-08-04        8.864368
2014-08-05      101.212112
2014-08-06      999.826785
2014-08-07    10000.119209
2014-08-08             NaN
2014-08-09             NaN
2014-08-10             NaN
Freq: D, dtype: float64

---

In [78]:
date_series

2014-08-01    0.469112
2014-08-02   -0.282863
2014-08-03   -1.509059
2014-08-04   -1.135632
2014-08-05    1.212112
2014-08-06   -0.173215
2014-08-07    0.119209
2014-08-08   -1.044236
2014-08-09   -0.861849
2014-08-10   -2.104569
Freq: D, dtype: float64

In [79]:
# 可用 datetime 物件來提取
date_series[datetime(2014, 8, 5)]

1.2121120250208506

In [80]:
# 可用 Timestamp 物件來提取
date_series[pd.Timestamp('2014-8-5')]

1.2121120250208506

In [81]:
# 也可直接透過字串來提取
# 當然也可以用 .loc[] 運算子
date_series['2014-08-05']

1.2121120250208506

---

In [93]:
date_series

2014-08-01    0.469112
2014-08-02   -0.282863
2014-08-03   -1.509059
2014-08-04   -1.135632
2014-08-05    1.212112
2014-08-06   -0.173215
2014-08-07    0.119209
2014-08-08   -1.044236
2014-08-09   -0.861849
2014-08-10   -2.104569
Freq: D, dtype: float64

In [97]:
# 索引標籤的切片是會包含最後一項的喔!
# 記得此處的切片跟之前對 NumPy 陣列做切片時一樣，是會在原始資料上產生一個 view，在 view 上做的修改會同步到原始資料上
date_series['2014-08-05':'2014-08-07']

2014-08-05    1.212112
2014-08-06   -0.173215
2014-08-07    0.119209
Freq: D, dtype: float64

In [98]:
date_series[datetime(2014, 8, 5):]

2014-08-05    1.212112
2014-08-06   -0.173215
2014-08-07    0.119209
2014-08-08   -1.044236
2014-08-09   -0.861849
2014-08-10   -2.104569
Freq: D, dtype: float64

In [99]:
date_series.truncate(after = '8/9/2014') # 序列的方法， 參數 after 之後的都不要    #truncate 截斷

2014-08-01    0.469112
2014-08-02   -0.282863
2014-08-03   -1.509059
2014-08-04   -1.135632
2014-08-05    1.212112
2014-08-06   -0.173215
2014-08-07    0.119209
2014-08-08   -1.044236
2014-08-09   -0.861849
Freq: D, dtype: float64

---

In [101]:
# pd.date_range() 也可以給開頭時間跟結束時間，再設定參數 freq
dates  = pd.date_range('2013-01-01', '2014-12-31', freq = 'M') # freq = 'M'，頻率為月    #日期為最後一天
s3 = pd.Series(np.random.randint(0, 10, len(dates)), index = dates)
s3

2013-01-31    2
2013-02-28    6
2013-03-31    2
2013-04-30    4
2013-05-31    4
2013-06-30    7
2013-07-31    4
2013-08-31    4
2013-09-30    4
2013-10-31    5
2013-11-30    1
2013-12-31    7
2014-01-31    4
2014-02-28    3
2014-03-31    7
2014-04-30    0
2014-05-31    2
2014-06-30    2
2014-07-31    0
2014-08-31    4
2014-09-30    1
2014-10-31    4
2014-11-30    4
2014-12-31    5
Freq: M, dtype: int32

In [102]:
s3.index

DatetimeIndex(['2013-01-31', '2013-02-28', '2013-03-31', '2013-04-30',
               '2013-05-31', '2013-06-30', '2013-07-31', '2013-08-31',
               '2013-09-30', '2013-10-31', '2013-11-30', '2013-12-31',
               '2014-01-31', '2014-02-28', '2014-03-31', '2014-04-30',
               '2014-05-31', '2014-06-30', '2014-07-31', '2014-08-31',
               '2014-09-30', '2014-10-31', '2014-11-30', '2014-12-31'],
              dtype='datetime64[ns]', freq='M')

In [103]:
# 可利用日期規格的一部分來切割 DatetimeIndex
# 跟 s3[s3.index.year == 2013] 布林選擇同效果
s3['2013']

2013-01-31    2
2013-02-28    6
2013-03-31    2
2013-04-30    4
2013-05-31    4
2013-06-30    7
2013-07-31    4
2013-08-31    4
2013-09-30    4
2013-10-31    5
2013-11-30    1
2013-12-31    7
Freq: M, dtype: int32

In [104]:
s3['2014-05']

2014-05-31    2
Freq: M, dtype: int32

In [105]:
s3['2014-08':'2014-09']

2014-08-31    4
2014-09-30    1
Freq: M, dtype: int32

---

In [116]:
# 若目標改為 Dataframe，當然也可以用一樣的邏輯使用 pd.data_range() 函式
dates = pd.date_range('1/1/2000', periods = 100, freq = 'W-WED') # freq = 'W-WED' 代表每周的禮拜三
long_df = pd.DataFrame(np.random.randn(100, 4),
                       index = dates,
                       columns = ['Colorado', 'Texas', 'New York', 'Ohio'])
long_df

            Colorado     Texas  New York      Ohio
2000-01-05  0.198083  1.045056  1.111857  1.335511
2000-01-12  0.332402 -0.735462  0.396791 -0.073809
2000-01-19 -0.550099 -1.853637 -1.467157  0.113937
2000-01-26 -1.428572  0.337109  0.052469 -2.294560
2000-02-02  2.148507 -0.293144 -1.596615  0.149716
...              ...       ...       ...       ...
2001-10-31  0.468559  0.588257 -0.413735  0.352798
2001-11-07  0.436192 -0.941946 -1.385972 -0.113375
2001-11-14 -0.317109 -1.862301  0.850930  0.052394
2001-11-21 -0.021268 -2.789483  0.078824  0.525348
2001-11-28 -0.268273 -1.162965 -1.024522  1.457817

[100 rows x 4 columns]

In [120]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  0.327544  0.206213 -1.566586 -0.689749
2001-05-09 -0.414940  0.245948 -0.297505 -1.337590
2001-05-16 -0.399992 -2.018344 -1.134732 -1.064688
2001-05-23 -1.519679  1.486533 -0.974553  0.348965
2001-05-30  1.126035 -1.365120  0.770705  0.431502

### 有重複索引的時間序列

In [129]:
# 在某些應用中，同一個時間戳記有可能有多個觀察值
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index = dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [130]:
dup_ts.index.is_unique

False

In [133]:
# 沒有重複，產生常數值
dup_ts['1/3/2000']

4

In [134]:
# 重複，會產生切片，也就是一個序列
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [135]:
grouped = dup_ts.groupby(level = 0)

In [136]:
grouped.mean()

2000-01-01    0.0
2000-01-02    2.0
2000-01-03    4.0
dtype: float64

In [137]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

### 建立特定頻率的時間序列

In [146]:
# 預設為 freq = 'D'，是以每日的區間為頻率來建立
dates = pd.date_range('2014-08-01', '2014-10-29')
bymin = pd.Series(np.random.randn(len(dates)),
                  index = dates)
bymin

2014-08-01    0.990341
2014-08-02   -1.110211
2014-08-03   -0.591736
2014-08-04   -0.524808
2014-08-05    0.057082
                ...
2014-10-25   -0.122861
2014-10-26   -1.164416
2014-10-27   -0.444657
2014-10-28    2.551866
2014-10-29   -0.270824
Freq: D, Length: 90, dtype: float64

In [147]:
# freq = 'T'， 是以每【分】鐘的區間為頻率來建立
dates = pd.date_range('2014-08-01', '2014-10-29 23:59', freq = 'T')    
bymin = pd.Series(np.random.randn(len(dates)),
                  index = dates)
bymin

2014-08-01 00:00:00   -1.163320
2014-08-01 00:01:00    0.001209
2014-08-01 00:02:00   -0.760639
2014-08-01 00:03:00   -0.504896
2014-08-01 00:04:00   -0.916808
                         ...
2014-10-29 23:55:00    0.729806
2014-10-29 23:56:00    0.925040
2014-10-29 23:57:00   -0.821144
2014-10-29 23:58:00   -0.654968
2014-10-29 23:59:00   -0.821368
Freq: T, Length: 129600, dtype: float64

In [148]:
bymin['2014-08-01 00:02':'2014-08-01 00:07']

2014-08-01 00:02:00   -0.760639
2014-08-01 00:03:00   -0.504896
2014-08-01 00:04:00   -0.916808
2014-08-01 00:05:00   -0.829833
2014-08-01 00:06:00    2.621215
2014-08-01 00:07:00   -0.906775
Freq: T, dtype: float64

In [149]:
# freq = 'B' 建立只有營業日的時間序列   business
# 周末的兩天被忽略了

days = pd.date_range('2014-08-29', '2014-09-05', freq = 'B')
days

DatetimeIndex(['2014-08-29', '2014-09-01', '2014-09-02', '2014-09-03',
               '2014-09-04', '2014-09-05'],
              dtype='datetime64[ns]', freq='B')

In [150]:
# BM(business end of month): 每個月的最後一個上班日
pd.date_range('2000-01-01', '2000-12-01', freq = 'BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [151]:
pd.date_range('2000-01-01', '2000-01-02', freq = '4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [152]:
pd.date_range('2000-01-01', '2000-01-02', freq = '4h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:30:00',
               '2000-01-01 09:00:00', '2000-01-01 13:30:00',
               '2000-01-01 18:00:00', '2000-01-01 22:30:00'],
              dtype='datetime64[ns]', freq='270T')

In [169]:
pd.date_range('2000-01-01', '2000-01-02', freq = '4h30min5s')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:30:05',
               '2000-01-01 09:00:10', '2000-01-01 13:30:15',
               '2000-01-01 18:00:20', '2000-01-01 22:30:25'],
              dtype='datetime64[ns]', freq='16205S')

---

In [170]:
# 如果只有傳入開始跟結束時間的話，必須在另外傳入要產生多少周期的數量
# 頻率為秒

pd.date_range(start = '2014-08-01 12:10:01', freq = 'S', periods = 5)

DatetimeIndex(['2014-08-01 12:10:01', '2014-08-01 12:10:02',
               '2014-08-01 12:10:03', '2014-08-01 12:10:04',
               '2014-08-01 12:10:05'],
              dtype='datetime64[ns]', freq='S')

In [171]:
pd.date_range(end = '2014-08-01 12:10:01', periods = 10)

DatetimeIndex(['2014-07-23 12:10:01', '2014-07-24 12:10:01',
               '2014-07-25 12:10:01', '2014-07-26 12:10:01',
               '2014-07-27 12:10:01', '2014-07-28 12:10:01',
               '2014-07-29 12:10:01', '2014-07-30 12:10:01',
               '2014-07-31 12:10:01', '2014-08-01 12:10:01'],
              dtype='datetime64[ns]', freq='D')

In [172]:
# normalize = True 會把時間統一設為午夜
pd.date_range('2012-05-02 12:56:31', periods = 5, normalize = True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

## 使用偏移值計算新日期

### 以日期偏移值表示資料區間

In [44]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime

# pandas 利用 Dateoffset 物件的觀念，延伸了 Timedelta 物件的概念
# Dateoffset 物件的功能更強大
dti = pd.date_range('2014-08-29', '2014-09-05', freq = 'B')
dti

DatetimeIndex(['2014-08-29', '2014-09-01', '2014-09-02', '2014-09-03',
               '2014-09-04', '2014-09-05'],
              dtype='datetime64[ns]', freq='B')

In [45]:
dti.values

array(['2014-08-29T00:00:00.000000000', '2014-09-01T00:00:00.000000000',
       '2014-09-02T00:00:00.000000000', '2014-09-03T00:00:00.000000000',
       '2014-09-04T00:00:00.000000000', '2014-09-05T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [46]:
dti.freq

---

In [47]:
d = datetime(2014, 8, 29)
do = pd.DateOffset(days = 1)
d + do

Timestamp('2014-08-30 00:00:00')

In [50]:
# 跟上面同樣效果，但是返回不同的物件
do = pd.Timedelta(days = 1)
d + do

datetime.datetime(2014, 8, 30, 0, 0)

---

In [53]:
d

datetime.datetime(2014, 8, 29, 0, 0)

In [54]:
from pandas.tseries.offsets import BusinessDay

d + BusinessDay() # 加一天營業日

Timestamp('2014-09-01 00:00:00')

In [55]:
d + 2*BusinessDay()

Timestamp('2014-09-02 00:00:00')

---

In [58]:
d

datetime.datetime(2014, 8, 29, 0, 0)

In [59]:
from pandas.tseries.offsets import Hour, Minute, Day
d + Hour() # 更多的偏移量可以使用 # 裡面不給值預設 1 小時

Timestamp('2014-08-29 01:00:00')

In [60]:
d + 3*Day()

Timestamp('2014-09-01 00:00:00')

In [61]:
d + Hour(4) + Minute(30)

Timestamp('2014-08-29 04:30:00')

---

In [70]:
d

datetime.datetime(2014, 8, 29, 0, 0)

In [71]:
from pandas.tseries.offsets import BMonthEnd, MonthEnd
d + BMonthEnd() # 月的最後一個營業日，也就是月的最後一個上班日

Timestamp('2014-09-30 00:00:00')

In [72]:
d2 = datetime(2014, 8, 10)
d2

datetime.datetime(2014, 8, 10, 0, 0)

In [73]:
d2 + BMonthEnd()

Timestamp('2014-08-29 00:00:00')

In [74]:
d2 + MonthEnd() # 這是月的最後一天喔!

Timestamp('2014-08-31 00:00:00')

---

In [99]:
d3 = pd.Timestamp('2014-08-10')
d3 + BMonthEnd()

Timestamp('2014-08-29 00:00:00')

In [100]:
type(BMonthEnd()) # 物件

pandas._libs.tslibs.offsets.BusinessMonthEnd

In [101]:
BMonthEnd().rollforward(datetime(2014, 9, 15)) # 使用物件的 .rollforward() 方法 # 往前偏移 # 也可帶字串

Timestamp('2014-09-30 00:00:00')

In [102]:
BMonthEnd().rollback(datetime(2014, 9 ,15)) # 使用物件的 .rollback() 方法 # 往後偏移

Timestamp('2014-08-29 00:00:00')

--------

In [113]:
ts = pd.Series(np.random.randn(20), 
               index = pd.date_range('1/15/2000', periods = 20, freq= '4d'))
ts

2000-01-15   -1.878448
2000-01-19    0.225456
2000-01-23   -0.263930
2000-01-27   -0.300304
2000-01-31    0.739609
2000-02-04    0.293441
2000-02-08   -0.586725
2000-02-12    1.499463
2000-02-16   -0.941417
2000-02-20    0.168060
2000-02-24   -0.050038
2000-02-28   -0.813746
2000-03-03    0.695749
2000-03-07    1.535754
2000-03-11   -0.009529
2000-03-15   -1.073742
2000-03-19   -1.021431
2000-03-23    1.560131
2000-03-27    0.412390
2000-03-31    0.391988
Freq: 4D, dtype: float64

In [114]:
# 一個有創意的用法
# 可以想成是要在每個月底算每個月值的平均
ts.groupby(MonthEnd().rollforward).mean() # 傳入的是一個函式，所以會對索引標籤操作

2000-01-31   -0.295523
2000-02-29   -0.061566
2000-03-31    0.311414
dtype: float64

In [116]:
# 得到同樣的結果，後面會詳細介紹此方法
ts.resample('M').mean()

2000-01-31   -0.295523
2000-02-29   -0.061566
2000-03-31    0.311414
Freq: M, dtype: float64

In [117]:
# 'MS': 每個月的第一個月曆日，也就是月初
ts.resample('MS').mean()

2000-01-01   -0.295523
2000-02-01   -0.061566
2000-03-01    0.311414
Freq: MS, dtype: float64

---

In [120]:
d

datetime.datetime(2021, 9, 16, 0, 0)

In [121]:
# weekday = 0 是星期一，weekday = 6 是星期日
from pandas.tseries.offsets import Week

d - Week(weekday = 1) # 計算 2014-08-29 前一個星期二

Timestamp('2021-09-14 00:00:00')

In [124]:
d = datetime(2014, 8, 27)
d - Week(weekday = 1)

Timestamp('2014-08-26 00:00:00')

In [125]:
d = datetime(2021, 9, 15)
d - Week(weekday = 4)

Timestamp('2021-09-10 00:00:00')

### 錨點偏移

# 有些頻率的時間點不是完全均等的，比如說 "M" (每個月的最後一個日曆日) 和 "BM" (每個月的最後一個上班日)，就取決
# 於一個月有幾天，或者一個月結束時是否為上班日
# 我們稱這種位移為錨點位移 (anchored offset)

In [126]:
# W-SUN : 每週的星期天
# W-MON : 每週的星期一，依此類推
wednesdays = pd.date_range('2014-06-01', '2014-07-31', freq = 'W-WED')
wednesdays

DatetimeIndex(['2014-06-04', '2014-06-11', '2014-06-18', '2014-06-25',
               '2014-07-02', '2014-07-09', '2014-07-16', '2014-07-23',
               '2014-07-30'],
              dtype='datetime64[ns]', freq='W-WED')

In [129]:
# 每月的第幾周的星期幾
# 例如每月第三周的星期五
rng = pd.date_range('2012-01-01', '2012-09-01', freq = 'WOM-3FRI')
rng

DatetimeIndex(['2012-01-20', '2012-02-17', '2012-03-16', '2012-04-20',
               '2012-05-18', '2012-06-15', '2012-07-20', '2012-08-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

In [130]:
# B : 營業日
# S : 週期開始而非結束
# A : 表示年度
# Q : 表示季度
qends = pd.date_range('2014-01-01', '2014-12-31', freq = 'BQS-JAN')# 定錨在一月，2014 每季季末的月初營業日
qends

DatetimeIndex(['2014-01-01', '2014-04-01', '2014-07-01', '2014-10-01'], dtype='datetime64[ns]', freq='BQS-JAN')

In [137]:
qends = pd.date_range('2014-01-01', '2014-12-31', freq = 'BQS-FEB')# 定錨在二月，2014 每季季末的月初營業日
qends

DatetimeIndex(['2014-02-03', '2014-05-01', '2014-08-01', '2014-11-03'], dtype='datetime64[ns]', freq='BQS-FEB')

In [139]:
qends = pd.date_range('2014-01-01', '2014-12-31', freq = 'BQS-MAR')  
qends

DatetimeIndex(['2014-03-03', '2014-06-02', '2014-09-01', '2014-12-01'], dtype='datetime64[ns]', freq='BQS-MAR')

In [140]:
qends = pd.date_range('2014-01-01', '2014-12-31', freq = 'BQS-APR')  # 注意一下順序
qends

DatetimeIndex(['2014-01-01', '2014-04-01', '2014-07-01', '2014-10-01'], dtype='datetime64[ns]', freq='BQS-APR')

In [141]:
qends = pd.date_range('2014-01-01', '2014-12-31', freq = 'BQS-JUN') 
qends

DatetimeIndex(['2014-03-03', '2014-06-02', '2014-09-01', '2014-12-01'], dtype='datetime64[ns]', freq='BQS-JUN')

## 利用 Period 表示持續時間

### 利用 Period 對時間區間 (期間) 建模

In [142]:
import pandas as pd
import numpy as np

aug2014 = pd.Period('2014-08', freq = 'M') # 這是在建立區間物件，所以這裡的 freq = 'M' 表示 月
aug2014 # 返回 Period 物件

Period('2014-08', 'M')

In [143]:
aug2014.start_time

Timestamp('2014-08-01 00:00:00')

In [144]:
aug2014.end_time

Timestamp('2014-08-31 23:59:59.999999999')

In [145]:
# 位移一單位的【代表頻率】

sep2014 = aug2014 + 1
sep2014

Period('2014-09', 'M')

In [153]:
# Period 聰明到知道 9 月只有 30 天

sep2014.start_time, sep2014.end_time

(Timestamp('2014-09-01 00:00:00'), Timestamp('2014-09-30 23:59:59.999999999'))

---

In [173]:
# 代表一整年的區間，年底在 2007 年 12 月底     #A 代表一整年  
p = pd.Period(2007, freq = 'A-DEC')
p

Period('2007', 'A-DEC')

In [174]:
p.start_time, p.end_time

(Timestamp('2007-01-01 00:00:00'), Timestamp('2007-12-31 23:59:59.999999999'))

In [175]:
p1 = pd.Period(2007, freq = 'A-JUN') # 代表一整年的區間，年底在 2007 年 6 月底

In [176]:
p1.start_time, p1.end_time

(Timestamp('2006-07-01 00:00:00'), Timestamp('2007-06-30 23:59:59.999999999'))

---------

In [177]:
p

Period('2007', 'A-DEC')

In [178]:
p + 5

Period('2012', 'A-DEC')

In [179]:
p - 2

Period('2005', 'A-DEC')

In [180]:
# 頻率一樣可以看差幾個單位
pd.Period('2014', freq = 'A-DEC') - p

### 使用 PeriodIndex 作為索引

In [185]:
# 使用 period_range 函式可以產生有規律的時間區間
# 這時候的 freq = "M" 是月，要知道跟 pd.date_range() 的差別
mp2013 = pd.period_range('1/1/2013', '12/31/2013', freq = 'M')
mp2013

PeriodIndex(['2013-01', '2013-02', '2013-03', '2013-04', '2013-05', '2013-06',
             '2013-07', '2013-08', '2013-09', '2013-10', '2013-11', '2013-12'],
            dtype='period[M]')

In [ ]:
# PeriodIndex 與 DatetimeIndex 的差異點在於索引標籤是 Period 物件
# 不同物件有不同的屬性跟方法
for p in mp2013:
    print('{} -> {}'.format(p.start_time, p.end_time))

In [ ]:
# 可以想成某支股票在某月份的平均股價，並非在於特定的時間點
# 這項特點在重新取樣時間序列成另一個頻率時非常有用，等等就會遇到
np.random.seed(12345)
ps = pd.Series(np.random.randn(12), mp2013)
ps

In [ ]:
dates = [datetime(2013, 1, 1), datetime(2013, 2, 1)] # 跟上面的比較一下 ，這裡的索引標籤是 Timestamp 物件喔!
pd.Series(np.random.randn(2), index = dates)

---

In [ ]:
np.random.seed(123456)
ps = pd.Series(np.random.randn(24), 
               index = pd.period_range('1/1/2013', '12/31/2014', freq = 'M'))
ps

In [ ]:
ps['2014-06']

In [ ]:
ps['2014']

In [ ]:
ps['2014-03':'2014-06']

---

In [ ]:
# 如果有字串陣列，也可以用來建立 PeriodIndex 物件
# 每季的最後日曆日，是季末那個月的最後日曆日。以指定的月份視為年度結束基準
values = ['2001Q3', '2002Q2', '2003Q1']
index = pd.PeriodIndex(values, freq = 'Q-DEC')
index

In [ ]:
index.start_time

In [ ]:
index.end_time

### 時間區間頻率轉換

In [ ]:
p = pd.Period('2007', freq = 'A-DEC')
p

In [ ]:
p.start_time, p.end_time

In [ ]:
p1 = p.asfreq('M', how = 'start')
p1

In [ ]:
p1.start_time, p1.end_time

In [ ]:
p2 = p.asfreq('M', how = 'end')
p2

In [ ]:
p2.start_time, p2.end_time

---

In [ ]:
p = pd.Period('2007', freq = 'A-JUN')
p

In [ ]:
p.asfreq('M', 'start')

In [ ]:
p.asfreq('M', 'end')

---

In [ ]:
# 當你從高頻率轉成低頻率時，pandas 會以子時間屬於誰來決定上層時間區間
p = pd.Period('Aug-2007', freq = "M")
p

In [ ]:
p.asfreq('A-JUN')

---

In [ ]:
# 整個 PeriodIndex 或時間序列也可以用同樣的邏輯來做轉換
# 時間序列的頻率轉換後面會有例子

rng = pd.period_range('2006', '2009', freq = 'A-DEC')
ts =  pd.Series(np.random.randn(len(rng)),
                index = rng)
ts

In [ ]:
ts1 = ts.asfreq('M', how = 'start')
ts1

In [ ]:
ts1.index.start_time, ts1.index.end_time

In [ ]:
ts2 = ts.asfreq('B', how = 'end')
ts2

In [ ]:
ts2.index.start_time, ts2.index.end_time

### 季度期間頻率

In [ ]:
p = pd.Period('2012Q4', freq = 'Q-JAN')
p

In [ ]:
p.start_time, p.end_time

In [ ]:
p.asfreq('D', 'start')

In [ ]:
p.asfreq('D', 'end')

---

In [ ]:
# 做簡單的期間運算是沒問題的
# 例如我們想得到季末倒數第二個營業日下午 4 點的時間戳記
p.asfreq('B', 'e') - 1

In [ ]:
(p.asfreq('B', 'e') - 1).asfreq('T', 's')

In [ ]:
p4pm = (p.asfreq('B', 'e') - 1).asfreq('T', 's') + 16*60
p4pm

In [ ]:
p4pm.to_timestamp()

---

In [ ]:
# 可以用 period_range() 函式產生多的季度期間，也可以做一樣的算術運算
rng = pd.period_range('2011Q3', '2012Q4', freq = 'Q-JAN')
ts = pd.Series(np.arange(len(rng)), index = rng)
ts

In [ ]:
new_rng = (rng.asfreq('B', 'e') - 1).asfreq('T', 's') + 16*60
ts.index = new_rng.to_timestamp()
ts

### 時間戳記和期間轉換

In [ ]:
rng = pd.date_range('2000-01-01', periods = 3, freq = 'M')
ts = pd.Series(np.random.randn(3), index = rng)
ts

In [ ]:
ts.index

In [ ]:
pts = ts.to_period()
pts

In [ ]:
pts.index

---

In [ ]:
rng = pd.date_range('1/29/2000', periods = 6, freq = 'D')
ts2 = pd.Series(np.random.randn(6), index = rng)
ts2

In [ ]:
ts2.to_period('M')

---

In [ ]:
pts = ts2.to_period()
pts.index[0]

In [ ]:
pts.to_timestamp(how = 'end')

### 從陣列建立 PeriodIndex

In [ ]:
# 有著固定頻率的資料集，時間間隔資訊有時候會分別存在好幾個欄位，例如 macroeconomic 資料集
data = pd.read_csv('./mod09/macrodata.csv')
data

In [ ]:
data.year

In [ ]:
data.quarter

In [ ]:
index = pd.PeriodIndex(year = data.year, quarter = data.quarter, freq = 'Q-DEC')
index

In [ ]:
data.index = index
data

## 處理日曆中的假日

In [ ]:
import pandas as pd
from datetime import datetime
from pandas.tseries.holiday import *
from pandas.tseries.offsets import *

cal = USFederalHolidayCalendar()
for d in cal.holidays(start = '2014-01-01', end = '2014-12-31'):
    print(d)

In [ ]:
cbd = CustomBusinessDay(holidays = cal.holidays())
datetime(2014, 8, 29) + cbd

## 時區

In [ ]:
import pandas as pd
import numpy as np
import pytz

# 在操作時間序列資料時，若碰到時區問題，一般都會令人覺得不開心
# 所以很多時間序列的使用者都選擇使用世界協調時間(coordinated universal time, UTC)
# 現今的國際標準，時區則用 UTC 的偏移量表示
# 例如紐約在實行日光節約時間 (DST) 時，比 UTC 晚 4 小時，非日光節約時間時，則比 UTC 晚 5 個小時

pytz.common_timezones[-5:]

In [ ]:
# 使用 pytz.timezone 可以取得 pytz 中的時區物件
# pandas 中的方法，可以通吃時區名稱或是時區物件
# 亞洲台北: Asia/Taipei 

tz = pytz.timezone('America/New_York')
tz

### 時區本地化及轉換

In [ ]:
# 預設上來說，pandas中的時間序列是不含時區資訊的

rng = pd.date_range('3/9/2012 9:30', periods = 6, freq = 'D')
ts = pd.Series(np.random.randn(len(rng)), index = rng)
ts

In [ ]:
# DatatimeIndex 與其 Timestamp 物件預設也都沒有時區資料
print(ts.index)
print(ts.index[0])

In [ ]:
print(ts.index.tz)
print(ts.index[0].tz)

---

In [ ]:
#　Timestamp 物件預設也沒有時區資料

now = pd.Timestamp('now')
now

In [ ]:
print(now.tz)

---

In [ ]:
# 指定時區

pd.date_range('3/9/2012 9:30', periods = 10, freq = 'D', tz = 'UTC')

In [ ]:
# 也可以用 tz_localize() 方法，將不含時區資訊的資料轉換為含本地時區資訊的資料:

ts

In [ ]:
ts_utc = ts.tz_localize('UTC')
ts_utc

In [ ]:
ts_utc.index

---

In [ ]:
# 一旦時間序列被本地化為某個特定時區後，就可以用 tz_convert 將它轉換成另外一個時區
# 剛好跨過日光節約時間

ts_utc.tz_convert('America/New_York')

In [ ]:
ts_eastern = ts.tz_localize('America/New_York')
ts_eastern

In [ ]:
ts_eastern.tz_convert('UTC')

In [ ]:
ts_eastern.tz_convert('Europe/Berlin')

---

In [ ]:
# tz_localize() 和 tz_convert() 同時也是 DatetimeIndex 的實例方法

ts.index

In [ ]:
ts.index.tz_localize('Asia/Shanghai')

### 含時區的 Timestamp 物件

In [ ]:
stamp = pd.Timestamp('2011-03-12 04:00')
stamp

In [ ]:
stamp_utc = stamp.tz_localize('UTC')
stamp_utc

In [ ]:
stamp_utc.tz_convert('America/New_York')

In [ ]:
# 也可以在建立 Timestamp 時同步指定時區

stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz = 'Europe/Moscow')
stamp_moscow

---

In [ ]:
now = pd.Timestamp('now')
now

In [ ]:
mountain_tz  = pytz.timezone('US/Mountain')
eastern_tz = pytz.timezone('US/Eastern')

mountain_tz.localize(now)

In [ ]:
eastern_tz.localize(now)

---

In [ ]:
# 含時區資訊的 Timestamp 物件內部儲存一個 UTC 的時間戳記，從 Unix紀元 (1970 年 1 月 1 日)起算，單位是奈秒
# 這個 UTC 值不管時區怎麼轉換都是不變的

stamp_utc.value

In [ ]:
stamp_utc.tz_convert('America/New_York').value

---

In [ ]:
from pandas.tseries.offsets import Hour

stamp = pd.Timestamp('2012-03-11 01:30', tz = 'US/Eastern')
stamp

In [ ]:
# 利用 pandas 的 DateOffset 物件執行時間的算術運算時，pandas 會盡量配合日光節約轉換
# 日光節約時間前 30 分鐘

stamp + Hour()

In [ ]:
# 離開日光節約時間前 90 分鐘

stamp = pd.Timestamp('2012-11-04 00:30', tz = 'US/Eastern')
stamp

In [ ]:
stamp + 2*Hour()

### 不同時區的操作

In [ ]:
# 如果不同區的兩個時間序列要合併的話，出來的時區將會是 UTC

rng = pd.date_range('3/7/2012 9:30', periods = 10, freq = 'B')
ts = pd.Series(np.random.randn(len(rng)), index = rng)
ts

In [ ]:
ts1 = ts[:7].tz_localize('Europe/London')
ts1

In [ ]:
ts2 = ts1[2:].tz_convert('Europe/Moscow')
ts2

In [ ]:
# 值會對齊
# 出來的時區將會是 UTC

result = ts1 + ts2
result

In [ ]:
result.index

---

In [ ]:
s_mountain = pd.Series(np.arange(0, 5),
                    index = pd.date_range('2014-08-01', 
                                        periods = 5, freq = "H", 
                                        tz = 'US/Mountain'))
s_eastern = pd.Series(np.arange(0, 5), 
                   index = pd.date_range('2014-08-01', 
                                       periods = 5, freq = "H", 
                                       tz = 'US/Eastern'))
s_mountain

In [ ]:
s_eastern

In [ ]:
s_eastern + s_mountain

In [ ]:
s_pacific = s_eastern.tz_convert("US/Pacific")
s_pacific

In [ ]:
s_mountain + s_pacific

## 操控時間序列資料

### 移動與滯後

In [ ]:
import pandas as pd
import numpy as np

ts = pd.Series([1, 2, 2.5, 1.5, 0.5],
               index = pd.date_range('2014-08-01', periods = 5))
ts

In [ ]:
# 資料往前一單位，索引標籤保持不變
# 會出現遺失值
ts.shift(1)

In [ ]:
ts.shift(-2)

In [ ]:
# 移動常用來計算每天百分比的改變
ts/ts.shift(1) - 1

---

In [ ]:
# 移動一個營業日
# 索引標籤改變，資料不變，不會有遺失值
ts.shift(1, freq = 'B')

In [ ]:
ts.shift(1, freq = 'H')

In [ ]:
ts.shift(1, freq = pd.DateOffset(minutes = 0.5))

In [ ]:
ts.shift(1, freq = '90T')

In [ ]:
ts.shift(-1, freq = 'H')

In [ ]:
ts.shift(3, freq = 'D')

### 時間序列的頻率轉換

In [ ]:
dates = pd.date_range('08-01-2014', freq = '2H', periods = 31*24)
hourly = pd.Series(np.arange(0, len(dates)), 
                  index = dates)
hourly[:5]

In [ ]:
hourly.index

In [ ]:
hourly.index[0]

---

In [ ]:
# 資料會對齊
# 有很多列的資料被丟棄了
daily = hourly.asfreq('D')
daily

In [ ]:
# 再轉回每小時的頻率，會看到很多值變成 NaN
daily.asfreq('H')

In [ ]:
# 利用 method 參數來填塞 NaN
daily.asfreq('H', method = 'ffill')

In [ ]:
daily.asfreq('H', method = 'bfill')

### 時間序列重新取樣

In [ ]:
# 重新取樣是個動作程序，意思是將時間序列從一種頻率轉換為另一種頻率
# 如果將較高頻率轉換成較低頻率，稱為降低取樣頻率 (downsampling)
# 如果將較低頻率轉換成較高頻率，稱為提高取樣頻率 (upsampling)
# 但重新取樣也有不屬於這兩種情況的，例如將 W-WED 轉換成 W-FRI
# resample 方法跟 groupby 方法有類似的 API

In [ ]:
rng = pd.date_range('2000-01-01', periods = 100, freq = 'D')
ts = pd.Series(np.random.randn(len(rng)), index = rng)
ts

In [ ]:
ts.resample('M').mean()

In [ ]:
# kind 可以選擇聚合到期間 (period) 或是戳記(timestamp)，預設使用該時間序列的 index 本來的種類
ts.resample('M', kind = 'period').mean()

---

In [ ]:
# 降低取樣頻率
rng = pd.date_range('2000-01-01', periods = 12, freq = 'T')
ts = pd.Series(np.arange(12), index = rng)
ts

In [ ]:
# 預設上左端會被包含 (closed)
# 預設會以每組的左端點為時間戳記的標籤
ts.resample('5min').sum()

In [ ]:
ts.resample('5min', closed = 'right').sum()

In [ ]:
# 若傳入 label = 'right'，會把標籤改為右端點
ts.resample('5min', closed = 'right', label = 'right').sum()

In [ ]:
ts.resample('5min', closed = 'right', label = 'right').sum()

In [ ]:
# 你可能想要把產出的 index 做位移若干單位，例如將右端減去一分鐘，讓它更貼近時間戳記參照的時間分段
ts.resample('5min', closed = 'right', label = 'right').sum().shift(-1, freq = 's')

---

In [ ]:
# 開始-最大-最小-結束(OHLC) 重新取樣
# 在財務的應用上，常會把時間序列聚合，然後計算每組的四個值:開始(open)、結束(close)、最大(high)、最小(low)。
# 藉由使用 .ohlc() 方法，就可以得到含有這四個聚合值的 Dataframe

ts.resample('5min').ohlc()

---

In [ ]:
# 提高取樣和內插值
# 當從低頻率轉為高頻率時，沒有聚合的動作

frame = pd.DataFrame(np.random.randn(2, 4),
                    index = pd.date_range('1/1/2000', periods = 2, freq = 'W-WED'),
                    columns = ['Colorado', 'Texas', 'New York', 'Ohio'])
frame

In [ ]:
df_daily = frame.resample('D').asfreq()  # 等同於 frame.asfreq('D')
df_daily

In [ ]:
# 和使用 fillna() 與 reindex() 方法類似去做填充與插值
frame.resample('D').ffill()

In [ ]:
frame.resample('D').ffill(limit = 2)

In [ ]:
# 新資料的 index 完全不需要和舊資料 index 重疊
frame.resample('W-THU').ffill()

---

In [ ]:
# 指定期間重新取樣
# 以期間為 index 的資料，重新取樣的方法跟以時間戳記為 index 的資料類似


frame = pd.DataFrame(np.random.randn(24, 4),
                    index = pd.period_range('1-2000', '12-2001', freq = 'M'),
                    columns = ['Colorado', 'Texas', 'New York', 'Ohio'])
frame

In [ ]:
annual_frame  = frame.resample('A-DEC').mean()
annual_frame

In [ ]:
annual_frame.index

In [ ]:
annual_frame.resample('Q-DEC').asfreq()

In [ ]:
annual_frame.resample('Q-DEC').ffill()

In [ ]:
annual_frame.resample('Q-DEC', convention = 'end').ffill()

In [ ]:
# 由於期間是一種時間間隔，所以用來提高或降低取樣的規定就更嚴格
# 在做降低取樣時，目標頻率一定要是原始頻率的子期間 (subperiod)
# 在做提高取樣時，目標頻率一定要是原始頻率的超期間 (superperiod)
# 無法滿足會得到一個例外
# 例如由 Q-MAR 定義出來的時間間隔僅能支持 A-MAR、A-JUN、A-SUP、A-DEC

annual_frame.resample('Q-MAR').ffill()

## 時間序列的移動視窗運算

In [ ]:
# pandas 在序列與資料框物件上面提供 .rolling() 方法，直接支援滾動視窗
# 我們還能從 .rolling() 的結果呼叫許多不同的方法，對視窗進行運算
# 例如滾動平均用來消除短期波動，並強調長期趨勢，常用在金融時間序列的分析

In [ ]:
import pandas as pd
import numpy as np


# 準備建立代表五天的隨機漫步值的時間序列
np.random.seed(123456)
count = 24 * 60 * 60 * 5
values = np.random.randn(count)
ws = pd.Series(values)
ws

In [ ]:
walk = ws.cumsum()
walk

In [ ]:
walk.index = pd.date_range('2014-08-01', periods = len(walk), freq = "S")
walk[:100]

In [ ]:
first_minute = walk['2014-08-01 00:00']
first_minute

In [ ]:
means = first_minute.rolling(window = 5, center = False).mean()
means[:10]

In [ ]:
first_minute[:5].sum()/5

In [ ]:
# .rolling().mean() 提供了比較平滑的資料表示方式
# 視窗愈大，產生的變異愈小，視窗愈小，產生的變異愈大
means.plot()
first_minute.plot();

---

In [ ]:
# 注意，視窗愈大，曲線一開始缺少的資料越多
# 一個大小為 n 的視窗要等到有 n 個資料點才能進行計算
hlw = walk['2014-08-01 00:00']
means2 = hlw.rolling(window = 2, center = False).mean()
means5 = hlw.rolling(window = 5, center = False).mean()
means10 = hlw.rolling(window = 10, center = False).mean()
hlw.plot()
means2.plot()
means5.plot()
means10.plot();

---

In [ ]:
# 利用 .rolling().apply() 方法，也可以把任何使用者自定義的函數套用在滾動視窗
# 底下示範計算滾動視窗內的資料值與視窗平均值的差異的平均值
mean_abs_dev = lambda x: np.fabs(x - x.mean()).mean()
means = hlw.rolling(window = 5, center = False).apply(mean_abs_dev)
means

In [ ]:
np.fabs(hlw[:5] - hlw[:5].mean()).mean()

In [ ]:
means.plot()

---

In [ ]:
# 還有一個擴張視窗平均的計算方法，它總是從時間序列的第一個值開始，不斷的重複計算視窗資料的平均值
# 只不過每次迭代時，都讓視窗大小增加一
# 擴張視窗平均比滾動視窗來得穩定，因為隨著視窗變大，下一個值的影響就會越小
expanding = hlw.expanding(min_periods = 1).mean()
expanding[:10]

In [ ]:
hlw[0]

In [ ]:
hlw[:2].mean()

In [ ]:
hlw.plot()
expanding.plot();

## 綜合應用

In [ ]:
close_px_all = pd.read_csv('./mod09/stock_px_2.csv', parse_dates = True, index_col = 0)
close_px_all

In [ ]:
close_px = close_px_all[['AAPL', 'MSFT', 'XOM']]
close_px

In [ ]:
close_px = close_px.resample('B').ffill()
close_px

In [ ]:
close_px.AAPL.plot()
close_px.AAPL.rolling(window = 250).mean().plot()

In [ ]:
# 預設上 rolling 函式的視窗中的值，都必須是 non-NA
# 這行為可使用參數 min_periods 來調整
appl_std250 = close_px.AAPL.rolling(250, min_periods = 10).std()
appl_std250[:20]

In [ ]:
close_px.AAPL[:10].std()

In [ ]:
appl_std250.plot()

---

In [ ]:
# 如果 Dataframe 呼叫移動視窗的話，就會對每個欄位都套用運算
close_px.rolling(window = 60).mean().plot(logy = True)

In [ ]:
# rolling() 函式也接受指定固定時間位移量的字串
close_px.rolling(window = '3D').mean()

---

In [ ]:
appl_px = close_px.AAPL['2006':'2007']
appl_px

In [ ]:
ma30 = appl_px.rolling(window = 30, min_periods = 20).mean()
ma30[:25]

In [ ]:
appl_px[:10]

In [ ]:
# 指數加權函式

ewma30 = appl_px.ewm(span = 30).mean()
ewma30

In [ ]:
import matplotlib.pyplot as plt
ma30.plot(style = 'k--', label = 'Simple MA')
ewma30.plot(style = 'k-', label = 'EW MA')
plt.legend();

---

In [ ]:
# 二元移動視窗函式
spx_px = close_px_all['SPX']
spx_px

In [ ]:
spx_rets = spx_px.pct_change()
spx_rets

In [ ]:
returns = close_px.pct_change()
returns

In [ ]:
corr = returns.AAPL.rolling(125, min_periods = 100).corr(spx_rets)
corr

In [ ]:
corr.plot();

In [ ]:
corr = returns.rolling(125, min_periods = 100).corr(spx_rets)
corr.plot();

---

In [ ]:
# 準備建立代表五天的隨機漫步值的時間序列
np.random.seed(123456)
count = 24 * 60 * 60 * 5
values = np.random.randn(count)
ws = pd.Series(values)
ws

In [ ]:
walk = ws.cumsum()
walk

In [ ]:
walk.index = pd.date_range('2014-08-01', periods = len(walk), freq = "S")
walk[:100]

In [ ]:
# pandas 的重新取樣是利用 .resample() 方法並傳給一個新頻率來完成
# 此方法在填值的時候比 .asfreq() 方法在填值時更有彈性
# 此例是向下取樣
walk.resample('1min').mean()

In [ ]:
walk['2014-08-01 00:00'].mean()

In [ ]:
walk.resample('1min', closed = 'right').mean()

In [ ]:
walk.resample('1min').first()

---

In [ ]:
bymin = walk.resample('1min').mean()
bymin

In [ ]:
bymin.resample('S').mean()

In [ ]:
bymin.resample('S').bfill()

In [ ]:
interpolated  = bymin.resample('S').interpolate()
interpolated

In [ ]:
bymin['2014-08-01 00:00:00'] + (bymin['2014-08-01 00:01:00'] - bymin['2014-08-01 00:00:00'])*(1/60)

---

In [ ]:
walk

In [ ]:
ohlc = walk.resample('H').ohlc()
ohlc

In [ ]:
walk['2014-08-01 00'][0]

In [ ]:
walk['2014-08-01 00'].max()

In [ ]:
walk['2014-08-01 00'].min()

In [ ]:
walk['2014-08-01 00'][-1]